<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%-include('nav.ejs') %>
  <div class="container">
    <div class="box1">
      <div class="detail">
        <span>스토리체인</span>
        <span>특징</span>
        <span>서비스소개</span>
        <span>스마트비밀유지계약</span>
        <span>가격</span>
      </div>
      <img class="stori_title" src="/images/D997BDF7-3631-4C5D-96FC-E89B6EDD188A.png" alt="">
    </div>
    <div class="box2">
      <div class="left">
        <p>이야기<br>자산화 플랫폼</p>
      </div>
      <div class="right">
        <p>누구나 자신의 이야기를 공유할수 있습니다.</p>
        <p>인터렉션 스토리창작, 협업을 통해 나의 이야기를 의미있는 <br>자산으로 만들어 보세요.</p>
        <div class="box">
          <button>서비스 이용하기</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>